{
  "openapi": "3.1.0",
  "info": {
    "title": "BlackHole Quotes API",
    "description": "Quote endpoint for token transfers (same-chain or cross-chain). Returns estimation and executable calldata.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://api.alyra.finance" }
  ],
  "paths": {
    "/v1/quotes": {
      "get": {
        "summary": "Get a quote for a token transfer",
        "description": "",
        "parameters": [
          {
            "name": "originChainId",
            "in": "query",
            "required": true,
            "description": "The sending chain id",
            "schema": { "type": "number" }
          },
          {
            "name": "destinationChainId",
            "in": "query",
            "required": true,
            "description": "The receiving chain id",
            "schema": { "type": "number" }
          },
          {
            "name": "originCurrency",
            "in": "query",
            "required": true,
            "description": "The token address that should be transferred",
            "schema": { "type": "string" }
          },
          {
            "name": "destinationCurrency",
            "in": "query",
            "required": true,
            "description": "The token address that should be transferred to",
            "schema": { "type": "string" }
          },
          {
            "name": "senderAddress",
            "in": "query",
            "required": true,
            "description": "The sending wallet address",
            "schema": { "type": "string" }
          },
          {
            "name": "receiverAddress",
            "in": "query",
            "required": false,
            "description": "The receiving wallet address. If none is provided, the fromAddress will be used",
            "schema": { "type": "string" }
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "description": "The amount that should be sent including all decimals (e.g. 1000000 for 1 USDC with 6 decimals)",
            "schema": { "type": "string" }
          },
          {
            "name": "integrator",
            "in": "query",
            "required": false,
            "description": "A string containing tracking information about the integrator of the API",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/QuoteResponse" },
                "examples": {
                  "success": {
                    "summary": "Example quote",
                    "value": {
                      "inputAmount": "1000000",
                      "outputAmount": "998400",
                      "tool": "relay-router",
                      "calldata": [
                        {
                          "chainId": 1,
                          "to": "0xRouterContract",
                          "data": "0xabcdef...",
                          "value": "0",
                          "gasLimit": "210000"
                        }
                      ],
                      "fees": [
                        {
                          "name": "Bridge fee",
                          "amount": "1200",
                          "currency": "USDC"
                        },
                        {
                          "name": "Service fee",
                          "amount": "300",
                          "currency": "USDC"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing or invalid parameters)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "missingParam": {
                    "value": {
                      "error": 400,
                      "message": "originCurrency is required"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable quote (route not found or unsupported pair)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "examples": {
                  "noRoute": {
                    "value": {
                      "error": 422,
                      "message": "No available route for given parameters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QuoteResponse": {
        "type": "object",
        "required": ["inputAmount", "outputAmount", "tool", "calldata"],
        "properties": {
          "inputAmount": {
            "type": "string",
            "description": "The amount that should be transferred including all decimals"
          },
          "outputAmount": {
            "type": "string",
            "description": "The estimated resulting amount of the destinationCurrency including all decimals"
          },
          "tool": {
            "type": "string",
            "description": "The tool used for the transaction"
          },
          "calldata": {
            "type": "array",
            "description": "The transaction data that can be triggered using a wallet provider",
            "items": { "$ref": "#/components/schemas/CalldataItem" }
          },
          "fees": {
            "type": "array",
            "description": "Fees included in the transfer",
            "items": { "$ref": "#/components/schemas/Fee" }
          }
        }
      },
      "CalldataItem": {
        "type": "object",
        "description": "Execution payload; fields may vary by chain/tool",
        "properties": {
          "to": { "type": "string", "description": "Target contract/address" },
          "value": { "type": "string", "description": "Native value to send (wei/lamports/etc.)" },
          "data": { "type": "string", "description": "Calldata hex" }
        },
        "additionalProperties": true
      },
      "Fee": {
        "type": "object",
        "properties": {
          "123": { "type": "string", "description": "123" }
        },
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": { "type": "integer", "format": "int32" },
          "message": { "type": "string" }
        }
      }
    }
  }
}
